* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  text-decoration: none;
  z-index: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin-top: 100px;
  padding: 0;
}

.logo{
  max-height: 100%;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
}

.mainHeader {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #02391E;
  padding: 0rem 2rem;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 3;
}

#menuBtn {
  display: none;
}

.mainMenu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.mainMenu li {
  margin: 0rem 1rem;
}


.mainMenu li:hover{                 /* Hace que se agrande la letra cuando pasas el mouse por arriba*/
  transform: scale(1.1);
  transition: 250ms;
}

.mainMenu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
}


.contenedor {
  margin: 10rem;
}

.contAdivina{
  background-color: #02391E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contAdivina h1{
  color: rgb(160, 78, 160);
}

.contAdivina p{
  color: rgb(160, 78, 160);
}


.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

#buttons {
  display: flex;
  justify-content: center;
  height: 10rem;
  gap: 1rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  background-image: url('basureroo.png');
  background-size: 100%;  /* Ajusta el tamaño de la imagen */
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  width: 10rem;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 2rem;
  font-size: 1.2rem;
}
button[data-type="paper"]:hover {
  background-color: #FFD700; /* Color dorado para papel */
}

button[data-type="plastic"]:hover {
  background-color: #FF4500; /* Color naranja para plástico */
}

button[data-type="glass"]:hover {
  background-color: #1E90FF; /* Color azul para vidrio */
}

button[data-type="organic"]:hover {
  background-color: #32CD32; /* Color verde para orgánico */
}

.mainFooter{
  min-height: 5rem;
  display: flex;
  justify-content:center ;
  align-items: center;
  border-top: 1px solid #2323233b;

}

.footerTxt{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #02391e;
}

.footerTxt p{
  font-size: 1.4rem;
  padding: .5rem 1rem;
  margin: 1rem;
  text-align: center;
}